body {
	text-align:center;
	font-family:"EgyptianHeadline";
	-webkit-font-smoothing:antialiased;
	margin:0;
	padding-bottom:40px;
    color:#333;
}
li {
	list-style: none;
}
h2{
    font-size:24px;
}
h3 {
    font-weight:;
	margin-top:2em;
    margin-bottom:0.1em;
}
#wrapper{
    width:100%;
}

.selectForm{
    background: #F6F6F6;
    padding:10px 10px 20px;
    margin-bottom:20px;
}

#selectBox{
    display:block;
    margin:0 auto 20px;
    padding:20px 20px 18px 20px;
    width:80%;
    /*height:40px;*/
    font-family:EgyptianHeadline;
    font-weight:bold;
    font-size:18px;
    -webkit-font-smoothing:antialiased;
    background:#005689;
    color:#fff !important;
    border-radius:3px;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    background-image:url(images/dropdownArrow.png);
    background-repeat:no-repeat;
    background-position:right center;
    -webkit-background-size:54px;
    -moz-background-size:54px;
    -o-background-size:54px;
    background-size:54px;

}

form{
    font-family:"AgateSans";

}
input.scenario{
    vertical-align: bottom;
    margin-left:15px;
    margin-right:5px;d
}
.round {
	display:block;
	vertical-align: top;
	margin:0 40px;
}

.round ul{
    margin-top:0;
    padding:0;
}

.round li{
    display:inline-block;
    margin:10px;
    vertical-align: middle;
}

.round li img{
    height:15px;
}

.container {
	margin-top:40px;
}

/*NEXT GEN FRONT-----------------------------------------------------------------------*/
.nextgenfront{
    height:200px;
    background: #F6F6F6;
    position: relative;
}
.nextgenfront:after{
    clear:both;
    content:'';
    display:block;
}
.nextgenfront *{
     box-sizing:border-box;
}
.nextgenfront .selectForm {
    width:40%;
    float:left;
    margin:0;
    border-right:1px solid rgba(0,0,0,0.1);
    padding-bottom:0;
    position: absolute;
    height:100%;
}

.nextgenfront .selectForm form{
    text-align:left;
}

.nextgenfront input{
    margin-left:0;
    vertical-align: middle;
}
.nextgenfront .container {
    margin:0 0 0 41%;
    float:left;
    padding:10px 10px 20px;
    text-align:left;
}
.nextgenfront h1{
    text-align: left;
    font-size:16px;
    margin:0 0 5px;
    }
.nextgenfront .selectForm h2{
    font-size:14px;
    margin:0;
    text-align: left;
    margin-bottom:5px;
    font-weight:200;
}

.nextgenfront .container h2{
    font-size:14px;
    margin:0;
    text-align: left;
    margin-bottom:15px;
    /*font-weight:200;*/
}
.nextgenfront h3{
    margin:0;
    font-size:12px;
}
.nextgenfront .round{
    margin:0 10px 0 0;
    font-size:14px;
    display:inline-block;
    font-family:AgateSans;
}
.nextgenfront .round li{
    margin:5px 5px 0 0;
    font-family:AgateSans;
}

.nextgenfront .round li span{
    display:none;
}
.nextgenfront .round img{
    height:10px;
}
.nextgenfront #selectBox{
    font-size:14px;
    padding:10px 10px 8px;
    background-size:27px;
    width:100%;
    margin-bottom:10px;
}

.nextgenfront label{
    font-size:12px;
}
@media (min-width: 480px){
    .nextgenfront .selectForm{
        width:35%;
    }
    .nextgenfront h1{
        font-size:20px;
        margin-bottom:10px;
    }
    .nextgenfront .selectForm h2{
        font-size:16px;
    }
    .nextgenfront .container {
        margin:0 0 0 36%;
    }
    .nextgenfront .container h2{
        font-size:16px;
    }
    
}
@media (min-width: 540px){
    .nextgenfront .selectForm{
        width:30%;
    }
     .nextgenfront #selectBox{
        font-size:14px;
    }
    .nextgenfront h3{
        font-size:12px;
    }
    .nextgenfront .container {
        margin:0 0 0 31%;
    }
    .nextgenfront .round{
        font-size:12px;
        margin-right:20px;
    }
    .nextgenfront .round li{
        margin:5px 13px 0 0;
    }
    .nextgenfront .round li span{
        display:inline-block;
        margin-left:3px;
    }

}

@media (min-width: 700px){
     .nextgenfront #selectBox{
        font-size:14px;
        background-size:34px;
        padding:12px;
    }
     .nextgenfront .round{
        font-size:14px;
        /*width:50%;*/
        /*margin:0;*/
    }

}