body {
	text-align:center;
	font-family:"EgyptianHeadline";
	-webkit-font-smoothing:antialiased;
	margin:0;
	padding-bottom:40px;
    color:#333;
}
li {
	list-style: none;
}
h2{
    font-size:24px;
}
h3 {
    font-weight:;
	margin-top:2em;
    margin-bottom:0.1em;
}
#wrapper{
    width:100%;
}

.selectForm{
    background: #F6F6F6;
    padding:10px 10px 20px;
    margin-bottom:20px;
}

#selectBox{
    display:block;
    margin:0 auto 20px;
    padding:20px 20px 18px 20px;
    width:80%;
    /*height:40px;*/
    font-family:EgyptianHeadline;
    font-weight:bold;
    font-size:18px;
    -webkit-font-smoothing:antialiased;
    background:#005689;
    color:#fff !important;
    border-radius:3px;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    background-image:url(images/dropdownArrow.png);
    background-repeat:no-repeat;
    background-position:right center;
    -webkit-background-size:54px;
    -moz-background-size:54px;
    -o-background-size:54px;
    background-size:54px;

}

form{
    font-family:"AgateSans";

}
input.scenario{
    vertical-align: bottom;
    margin-left:15px;
    margin-right:5px;
}
.round {
	display:block;
	vertical-align: top;
	margin:0 40px;
}

.round ul{
    margin-top:0;
    padding:0;
}

.round li{
    display:inline-block;
    margin:10px;
    vertical-align: middle;
}

.round li img{
    height:15px;
}

.container {
	margin-top:40px;
}


/*@media (min-width: 46.25em){
    #wrapper{
        max-width:620px;
        margin:0 auto;
    }
}
@media (min-width: 56.25em){
     #wrapper{
        margin-right:320px;
        margin-left:0;
    }

@media (min-width: 66.25em){
     #wrapper{
        margin-right:320px;
        margin-left:160px;
    }
}*/